@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');




:root {
    --font-of-handle: "Denk One", sans-serif;
    --font-of-web-developer: "Grape Nuts", cursive;

    --font-for-links: "Passion One", sans-serif;
    --paragraph-font: "Nunito Sans", sans-serif;

    --h2-font: "Amaranth", sans-serif;

    --button-font: "Staatliches", sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* background: rgb(11,11,17); */
    background: radial-gradient(circle at 50% 50%, #1e2327, rgb(0, 0, 0));
}

.container {
    width: 100%;
}

/* TOP HINT */

.top-hint {
    width: 100px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.top-hint > a > svg {
    width: 25px;
    fill: rgb(129, 129, 129);
    transition: 200ms linear;
}

.top-hint > a:hover .up-arrow {
    fill: white;
}

.top-hint > a:hover {
    box-shadow: 0 0 22px #f8f9fa4d;
    border: 1px solid #f8f9fac4;
}

.top-hint > a {
    transition: 200ms linear;
    width: 45px;
    height: 45px;
    background: rgb(56, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 999;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
    height: 55px;
    background: rgb(19, 22, 24);
    /* background: rgb(22, 25, 28); */
    border-radius: 0.5rem;
    /* border-radius: 0.8rem 0.8rem 0.1rem 0.1rem; */
    position: relative;
    border: 1px solid rgba(97, 97, 97, 0.126);
    box-shadow: 0 0 55px rgba(14, 14, 14, 1);
    transition: 200ms;
}

.navbar-links:hover {
    box-shadow: 0 0 22px #f8f9fa4d;
    border: 1px solid #f8f9fac4;
}

.navbar-links > hr {
    border: 0;
    border-left: 1px solid rgba(82, 84, 88, 0.355);
    height: 89%;
}

.navbar-links > a {
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    z-index: 2;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.7rem;
    transition: 100ms linear;
    font-family: var(--font-for-links);
}

.navbar-links > a:not(.active) {
    color: rgb(122, 122, 122);
}

.active {
    color: white;
}

.navbar-links > a:active {
    transform: scale(0.8);
}

/* .links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: red;
    bottom: 0;
    z-index: 0;
    opacity: 0;
} */

.tracker {
    transition: 500ms;
    position: absolute;
    height: 45px;
    background: linear-gradient(transparent, rgba(45, 53, 92, 0.61) 70%);
    /* border-radius: 0.5rem 0.5rem 0.1rem 0.1rem; */
    border-radius: 0.3rem 0.3rem 0.2rem 0.2rem;
    z-index: 1;
    border-bottom: 1px solid rgb(118, 132, 152);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* CONTENT */

main {
    width: 100%;
}

/* HOME SECTION */

.home-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-section > h1 {
    font-family: var(--font-of-handle);
    color: white;
    font-size: max(12vw, 2.2rem);
    text-align: center;
}

.home-section > span {
    color: rgb(212, 0, 0);
    font-size: max(3vw, 1.6rem);
    font-family: var(--font-of-web-developer);
}

/* WORK SECTION */

.projects-section {
    width: 100%;
    padding: 25px;
    background-color: #212529;
    border-top: 1px solid rgb(61, 61, 61);
}

.projects-themselves {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.top-projects {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.top-projects > fieldset {
    border: 0;
}

.top-projects > fieldset > iframe {
    width: 370px;
    min-width: 280px;
    height: 100%;
    background: white;
    border-radius: 0.5rem;
}

.top-projects > fieldset:nth-of-type(1) {
    transform: translateY(90px);
}

.top-projects > fieldset:nth-of-type(3) {
    transform: translateY(90px);
}

.top-projects > fieldset > legend {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-of-web-developer);
}

.middle-projects {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle-projects > h1 {
    color: white;
    font-family: var(--font-of-handle);
    font-size: max(6vw, 2rem);
}

.bottom-projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    row-gap: 25px;
}

.bottom-projects > fieldset {
    border: 0;
}

.bottom-projects > fieldset > a > img {
    width: 370px;
    min-width: 280px;
    object-fit: contain;
    background: white;
    border-radius: 0.5rem;
}

.bottom-projects > fieldset:nth-of-type(1) {
    transform: translateY(-90px);
}

.bottom-projects > fieldset:nth-of-type(3) {
    transform: translateY(-90px);
}

.bottom-projects > fieldset > legend {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-of-web-developer);
}

/* JOURNEY SECTION */

.journey-section {
    width: 100%;
    padding-bottom: 45px;
    background: #161a1d;
    border-top: 1px solid rgb(61, 61, 61);
}

.journey-text {
    width: 100%;
}

.journey-text > h1 {
    font-size: max(7vw, 2.9rem);
    color: white;
    text-align: center;
    font-family: var(--font-of-handle);
    padding-top: 50px;
}

.journey-itself {
    width: 100%;
    margin-top: 50px;
    padding-inline: 50px;
}

/* 1 */

.journey-itself-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #343A40;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0 ;
}

.journey-one-img {
    width: 50%;
    display: flex;
}

.journey-one-img > img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
}

.journey-one-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    row-gap: 17px;
    color: white;
}

.journey-one-text > h2 {
    font-size: 2rem;
    font-family: var(--h2-font);
}

.journey-one-text > p {
    font-family: var(--paragraph-font);
}

.know-more-button {
    width: 150px;
    height: 47px;
    background: #1e2327;
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-radius: 0.2rem;
    transform: translateY(3px);
    transition: 250ms linear;
}

.know-more-button > a {
    text-decoration: none;
    color: white;
}

.more-anchor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--button-font);
    letter-spacing: 3px;
    font-size: 1.9rem;
}

.know-more-button:hover {
    transition: 100ms;
    box-shadow: 0 3px 1px rgb(0, 0, 0);
    transform: translateY(0);
}

/* 1 */

.journey-itself-2 {
    width: 100%;
    background-color: #495057;
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
}

.journey-two-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 25px;
    padding-right: 55px;
}

.journey-two-text > h2 {
    font-size: 2rem;
    font-family: var(--h2-font);
}

.journey-two-text > p {
    column-width: 250px;
    text-align: justify;
    font-family: var(--paragraph-font);
}

.journey-two-text > p::first-letter {
    font-size: 3rem;
    float: left;
    margin-right: 10px;
    color: rgb(255, 115, 0);
}

.journey-two-img {
    width: 50%;
}

.journey-two-img > img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

/* 3 */

.journey-itself-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #2E3138;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
}

.journey-three-img {
    width: 50%;
    display: flex;
}

.journey-three-img > img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
}

.journey-three-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    row-gap: 17px;
    color: white;
}

.journey-three-text > h2 {
    font-size: 2rem;
    font-family: var(--h2-font);
}

.journey-three-text > p {
    font-family: var(--paragraph-font);
}

/* CONTACT SECTION */

.contact-section {
    width: 100%;
    background: radial-gradient(center at 0% 100%, #2e3339, #212428),
    radial-gradient(center at 100% 100%, #2e3339, #212428);
    padding-bottom: 100px;
    border-top: 1px solid rgb(61, 61, 61);
}

.contact-text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-text > h1 {
    font-size: max(6vw, 2rem);
    color: white;
    font-family: var(--font-of-handle);
    margin-top: 50px;
}

.contact-ways {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.contact-ways svg {
    fill: white;
    width: 45px;
}

.telegram,
.github,
.phone,
.mail {
    display: flex;
    align-items: center;
    column-gap: 13px;
    text-decoration: none;
    color: white;
    background: #2e3248;
    padding: 9px;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: var(--button-font);
    transition: 300ms linear;
    box-shadow: 0 1px 1px black;
    border-top: 1px solid rgba(255, 255, 255, 0.484);
}

.inner-telegram,
.inner-github,
.inner-phone,
.inner-mail {
    width: 150px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    mask: linear-gradient(transparent, #202030 20%, #202030 80%, transparent);
}

.inner-telegram > span:nth-of-type(1),
.inner-github > span:nth-of-type(1),
.inner-phone > span:nth-of-type(1) {
    margin-top: 4px;
    transition: 300ms;
}

.telegram:hover .inner-telegram > span:nth-of-type(1),
.github:hover .inner-github > span:nth-of-type(1),
.phone:hover .inner-phone > span:nth-of-type(1) {
    margin-top: -37px;
}

.inner-mail > span:nth-of-type(2) {
    font-size: 1.2rem;
}

.inner-mail > span:nth-of-type(1) {
    margin-top: 4px;
    margin-bottom: 7px;
    transition: 300ms;
}

.mail:hover .inner-mail > span:nth-of-type(1) {
    margin-top: -36px;
}

.inner-mail {
    width: 200px;
}


/* MEDIA QEURIES */

/* MEDIA QEURY FOR MENU */

@media (max-width: 500px) {

}

/* MEDIA QUERY FOR PROJECTS SECTION */

@media (max-width: 1030px) {
    .projects-section {
        padding-inline: 5px;
        padding: 0;
        padding-block: 35px;
    }
}

@media (max-width: 940px) {
    .projects-section {
        height: 1150px;
    }
    .projects-themselves {
        display: flex;
        padding-inline: 10px;
        flex-wrap: wrap;
    }
    .top-projects {
        flex-wrap: wrap;
        display: none;
    }
    .middle-projects {
        flex-wrap: wrap;
        margin-top: -60px;
    }
    .middle-projects > h1 {
        font-size: max(9vw, 2.9rem);
    }
    .bottom-projects {
        flex-wrap: wrap;
        margin-top: -40px;
        column-gap: 5px;
    }
    .top-projects > fieldset:nth-of-type(1) {
        transform: translateY(0px);
    }
    .top-projects > fieldset:nth-of-type(3) {
        transform: translateY(0px);
    }
    .bottom-projects > fieldset:nth-of-type(1) {
        transform: translateY(0px);
    }
    .bottom-projects > fieldset:nth-of-type(3) {
        transform: translateY(0px);
    }

    .bottom-projects > fieldset > iframe {
        height: 370px;
    }
}


@media (max-width: 625px) {
    .projects-section {
        height: 1570px;
    }
}

@media (max-width: 385px) {
    .bottom-projects > fieldset {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bottom-projects > fieldset > iframe {
        width: 90%;
    }
}


/* MEDIA QUERY FOR JOURNEY SECTION */


@media (max-width: 1000px) {
    .journey-itself {
        padding-inline: 10px;
    }
}

@media (max-width: 850px) {
    .journey-itself-1 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .journey-one-img {
        width: 100%;
    }
    .journey-one-text {
        width: 100%;
        padding-left: 0px;
        text-align: justify;
    }
    .journey-itself-2 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .journey-two-img {
        width: 100%;
    }
    .journey-two-text {
        width: 100%;
        padding-right: 0;
    }
    .journey-itself-3 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .journey-three-img {
        width: 100%;
    }
    .journey-three-text {
        width: 100%;
        padding-left: 0px;
        text-align: justify;
    }
}

@media (max-width: 450px) {
    .journey-itself-1 {
        padding: 30px;
    }
    .journey-itself-2 {
        padding: 30px;
    }
    .journey-itself-3 {
        padding: 30px;
    }
}

@media (max-width: 390px) {
    .journey-one-text > h2 {
        text-align: center;
    }
    .journey-three-text > h2 {
        text-align: center;
    }
}

/* MEDIA QEURY FOR MENU */

@media (max-width: 550px) {
    .navbar-links {
        width: 300px;
        padding-inline: 5px;
        column-gap: 5px;
    }
    .navbar-links > a {
        font-size: 1.3rem;
    }
}